<section
  class="columns is-flex is-flex-direction-row m-2 p-3 has-text-warning has-text-weight-bold"
>Comments</section>
<section class="post-con has-text-warning p-2">
  {{#each this}}
    <section class="m-2">
      <p class="ml-2 has-text-grey-dark">{{content}}</p>
      <p class="ml-2 has-text-grey-dark">- {{user.login}}, {{commented_on}}</p>
    </section>
  {{/each}}

</section>