<form class="login-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input id="email" class="input" type="email" placeholder="Email" />
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <input
        id="password"
        class="input"
        type="password"
        placeholder="Password"
      />
    </p>
  </div>
  <section class="is-flex is-flex-direction-row is-justify-content-center">
    <div class="field mr-2">
      <p class="">
        <button class="button is-dark has-text-warning">Login</button>
      </p>
    </div>
    <div class="field">
      <p class="">
        <a class="button is-dark has-text-warning" href="/signup">
          Or SignUp instead!
        </a>
      </p>
    </div>
  </section>
  <script src="/js/logIn.js"></script>
</form>